<% if(success && success.length){%>

  <style>
    @media (max-width: 575.75px) {
      .success-container {
        width: 82%;
      }
    }
  </style>

    <div class="row">
        <div class="alert alert-success alert-dismissible col-12 col-sm-10 col-md-8 col-lg-5 mx-auto success-container" 
          role="alert">
            <p style="margin-bottom: 0%;"><%=success%></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    </div>

<%}%>

<% if(failure && failure.length){%>

  <style>
    @media (max-width: 575.75px) {
      .failure-container {
        width: 82%;
      }
    }
  </style>

   <div class="row">
      <div class="alert alert-danger alert-dismissible col-12 col-sm-10 col-md-8 col-lg-5 mx-auto failure-container" 
        role="alert">
          <p style="margin-bottom: 0%;"><%=failure%></p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  </div>

<%}%>