<footer class="footer">
    <div class="f-info-icon">

        <div class="f-info-social child">

            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div class="f-info"><b>&copy;</b>InstaStay private limited</div>
        <div class="f-info-link">

            <a href="dhheeri">privacy</a>
            <a href="dlhew">terms</a>
            
        </div>

    </div>

</footer>