
<% layout("/layouts/boilerplates.ejs") %>

<body>

    <h3>All listings are:</h3>
    <div class="row row-col-lg-3 row-col-md-2 row-col-sm-1">

      <% for(listing of allListing){%>


        <div class="col">

          <a class="link-text" href="listings/<%= listing._id%>">
            <div class="card " style="width: 18rem;">
              <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height: 19rem;">
              <div class="card-img-overlay"></div>
              <div class="card-body">
                <b class="card-title"><%=listing.title%></b>
                <p class="card-text">&#8377;<%=listing.price.toLocaleString("en-IN")%>/night</p>
              </div>
            </div>
          </a>  
          
        </div>

      <%}%>

    </div>

</body>

